---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - serviceaccounts
  - services
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  - pods
  - replicasets
  - statefulsets
  verbs:
  - '*'
- apiGroups:
  - aquasecurity.github.io
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - eirenyx.eirenyx
  resources:
  - policies
  - tools
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - eirenyx.eirenyx
  resources:
  - policies/finalizers
  - tools/finalizers
  verbs:
  - update
- apiGroups:
  - eirenyx.eirenyx
  resources:
  - policies/status
  - tools/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  - clusterroles
  - rolebindings
  - roles
  verbs:
  - '*'
