apiVersion: eirenyx.eirenyx/v1alpha1
kind: Policy
metadata:
  name: falco-privileged-container
spec:
  type: falco
  enabled: true
  target:
    namespaceSelector:
      - default
  falco:
    observe:
      ruleRef:
        name: "Privileged Container"
    report:
      create: true
      severity: critical
