apiVersion: eirenyx.eirenyx/v1alpha1
kind: Policy
metadata:
  name: falco-shell-in-container
spec:
  type: falco
  enabled: true
  falco:
    rules:
      - name: Shell spawned in container
        condition: spawned_process and container and proc.name in (bash, sh, zsh)
        output: >
          Shell spawned inside a container
          (user=%user.name container=%container.name image=%container.image.repository)
        priority: WARNING
        tags:
          - container
          - shell
          - intrusion
