apiVersion: eirenyx.eirenyx/v1alpha1
kind: Policy
metadata:
  name: falco-shell-in-container
spec:
  type: falco
  enabled: true
  falco:
    observe:
      ruleRef:
        name: "Terminal shell in container"
    report:
      create: true
      severity: warning
