apiVersion: eirenyx.eirenyx/v1alpha1
kind: Policy
metadata:
  name: falco-write-sensitive-paths
spec:
  type: falco
  enabled: true
  target:
    namespaceSelector:
      - default
  falco:
    observe:
      ruleRef:
        name: "Write below etc"
    report:
      create: true
      severity: medium
