---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: chaosengines.
spec:
  group: ""
  names:
    kind: ChaosEngine
    listKind: ChaosEngineList
    plural: chaosengines
    singular: chaosengine
  scope: Namespaced
  versions:
  - name: ""
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              appinfo:
                properties:
                  appkind:
                    type: string
                  applabel:
                    type: string
                  appns:
                    type: string
                required:
                - appkind
                - applabel
                - appns
                type: object
              engineState:
                type: string
              experiments:
                items:
                  properties:
                    name:
                      type: string
                    spec:
                      properties:
                        components:
                          properties:
                            env:
                              items:
                                properties:
                                  name:
                                    type: string
                                  value:
                                    type: string
                                required:
                                - name
                                - value
                                type: object
                              type: array
                          required:
                          - env
                          type: object
                      required:
                      - components
                      type: object
                  required:
                  - name
                  - spec
                  type: object
                type: array
            required:
            - appinfo
            - engineState
            - experiments
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
