---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: policyreports.eirenyx.eirenyx
spec:
  group: eirenyx.eirenyx
  names:
    kind: PolicyReport
    listKind: PolicyReportList
    plural: policyreports
    singular: policyreport
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PolicyReport is the Schema for the policyreports API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PolicyReportSpec defines the desired state of PolicyReport
            properties:
              policyRef:
                properties:
                  generation:
                    format: int64
                    type: integer
                  name:
                    type: string
                required:
                - generation
                - name
                type: object
              type:
                type: string
            required:
            - policyRef
            - type
            type: object
          status:
            description: PolicyReportStatus defines the observed state of the PolicyReport.
            properties:
              details:
                type: object
                x-kubernetes-preserve-unknown-fields: true
              phase:
                type: string
              summary:
                properties:
                  failed:
                    format: int32
                    type: integer
                  passed:
                    format: int32
                    type: integer
                  totalChecks:
                    format: int32
                    type: integer
                  verdict:
                    type: string
                type: object
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
